@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 3px;
  margin: 0;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  ::-webkit-scrollbar {
    width: 0px;
  }
}
