@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 3px;
  margin: 0;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  ::-webkit-scrollbar {
    width: 0px;
  }
}
.table-row {
  border:1px solid #cccccc2f;
}
.gold {
  color: gold;
}

.silver {
  color: rgb(224, 213, 213);
}

.bronze {
  color: rgb(206, 146, 35);
}
.third-row {
  border-bottom-color: rgba(31, 195, 228, 0.379);
}
.export-csv {
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: flex-end;
}
